html {
  font-size: 16px;
  font-family: "Poppins", "sans serif";
}

#footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #17252a;
  padding: 1.5rem 6rem;
  box-sizing: border-box;
}

#top_footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
}

#footer #top_left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 6rem;
  font-size: 24px;
  font-weight: 200;
}

#footer_logo {
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 10px;
}

#footer #address_line {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

#footer #contact_details {
  padding-bottom: 2rem;
}

#footer #socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#footer .social {
  cursor: pointer;
}

#footer .top_col {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  font-weight: 600;
  font-size: 24px;
  padding-left: 12rem;
}

#footer #top_right {
  padding-left: 16rem;
  display: flex;
  flex-direction: row;
}

.footer_title {
  color: rgba(43, 122, 120, 1);
}

.footer_page {
  cursor: pointer;
}

#bottom_footer {
  padding-top: 1rem;
  border-top: 2px solid rgba(222, 241, 242, 1);
  border-color: white;
  padding-bottom: 2rem;
  text-align: right;
  font-size: 30px;
}
