/* Section 1 */

#section_1 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

#left_col {
  margin-top: 200px;
  width: 50%;
  padding-left: 30px;
  box-sizing: border-box;
}

#top_left_intr {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 80px;
  padding-left: 30px;
  padding-bottom: 40px;
}

#bottom_left {
  background-image: url("../../assets/img_1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  color: white;
  border-radius: 8px;
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 30px;
}

#right_col {
  max-width: 50%;
  background-image: url("../../assets/img_2.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin-left: 20px;
  position: relative;
}

#search_modal {
  display: flex;
  flex-direction: column;
  background-color: rgba(254, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  z-index: 10;
  min-width: 800px;
  justify-content: center;
  align-items: center;
}

#modal_panel {
  margin-top: 30px;
  margin-bottom: 30px;
}

#modal_body {
  width: 100%;
}

#modal_footer {
  position: relative;
  background-color: rgba(23, 37, 42, 1);
  transition: background-color 0.5s ease;
  border-radius: 10px;
  padding: 5px 40px;
  cursor: pointer;
}

#modal_footer:hover {
  background-color: rgba(58, 175, 169, 1);
}

#modal_search {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-right: 50px;
  text-align: left;
  background: none;
  border: none;
  color: rgba(222, 241, 242, 1);
  cursor: pointer;
}

#location_icon {
  position: absolute;
  left: 15px;
  top: 10px;
}

#arrow_right {
  position: absolute;
  right: 60px;
  top: 5px;
}

.modal_text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
  padding-bottom: 20px;
}

.input_div {
  position: relative;
}

.modal_input {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: 2px solid rgba(222, 241, 242, 1);
  border-radius: 10px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  background: none;
  padding: 20px 30px;
  color: rgba(23, 37, 42, 1);
  box-sizing: border-box;
  margin-bottom: 40px;
  appearance: none;
}

.modal_input_icon {
  padding: 20px 50px;
}

.arrow_down {
  position: absolute;
  right: 30px;
  top: 15px;
  cursor: pointer;
}

.modal_button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  min-width: 100px;
  padding: 10px 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.modal_button:hover {
  background-color: rgba(58, 175, 169, 1);
}

.modal_button_selected {
  background-color: rgba(58, 175, 169, 1);
  color: white;
}

.bold_text {
  font-weight: 700;
}

/* Section 2 */

#section_2 {
  display: flex;
  flex-direction: row;
  padding: 20px 60px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.stat_card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: none;
  gap: 20px;
  min-width: 300px;
  min-height: 200px;
}

.stat_card .stat {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 50px;
}

.stat_card .text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.vertical_offset {
  padding-top: 40px;
}

/* Section 3 */

#section_3 {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin-bottom: 300px;
}

#info_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

#info_bar #title {
  font-weight: 400;
  font-size: 30px;
}

#info_bar #explore {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-weight: 400;
  font-size: 20px;
  color: rgba(58, 175, 169, 1);
  cursor: pointer;
  padding: 20px 30px;
}

#arrow_right_2 {
  position: relative;
  top: 2px;
}

#properties {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 150px;
  gap: 30px;
  width: 100%;
}

.property {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  border: none;
  padding: 20px;
  gap: 10px;
}

.location_row {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px 20px;
}

.location_text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgba(23, 37, 42, 1);
  margin-top: -4px; /* Aligning text with icon */
}

.image_container {
  position: relative;
}

.property_image {
  min-height: 500px;
  max-height: 500px;
  min-width: 750px;
  max-width: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.rating {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 80px;
  align-items: center;
}

.rating_text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-top: 2px;
}

.features_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 750px;
  box-sizing: border-box;
  justify-content: space-between;
}

.feature {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 5px 10px;
}

.feature_text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: -1px;
}

.pricing_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  max-width: 750px;
  box-sizing: border-box;
}

.pricing_row .price {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(23, 37, 42, 1);
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.pricing_row .view_details {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: rgba(222, 241, 242, 1);
  color: rgba(58, 175, 169, 1);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
