html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start so that width of text is accounted for instead of hard-coding */
  margin: 6rem 4rem 10rem 6rem;
}

.site_section {
  color: #17252a66;
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 1rem;
}

#title_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
}

#bullet_point {
  min-width: 0.8rem;
  max-height: 0.8rem;
  margin-top: 0.7rem;
  background-color: rgba(43, 122, 120, 1);
  border-radius: 100%;
}

#page_title {
  font-size: 24px;
  font-weight: 500;
}

.search_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

#left_search {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-size: 18px;
  align-items: center;
  margin-top: 0.2rem;
}

#right_search {
  align-items: center;
}

.subsection {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  transition: 0.2s ease;
  cursor: pointer;
}

.subsection:hover {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgba(58, 175, 169, 1);
}

.item_count {
  display: flex;
  justify-content: center;
  min-width: 1.2rem;
  max-height: 1.2rem;
  background-color: rgba(58, 175, 169, 1);
  border-radius: 100%;
  margin-top: 0.3rem;
  margin-left: 0.1rem;
  color: white;
  font-size: 13px;
  color: white;
}

.count_text {
  text-align: center;
}

.notif {
  min-width: 0.5rem;
  max-height: 0.5rem;
  background-color: rgba(58, 175, 169, 1);
  border-radius: 100%;
  margin-top: 0.6rem;
}

.search_primary_button {
  color: rgba(43, 122, 120, 1);
  background-color: white;
  border: 1px solid rgba(43, 122, 120, 1);
  border-radius: 8px;
  padding: 0.2rem 1rem;
  font-family: "Poppins", "sans serif";
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
}

.search_primary_button:hover {
  background-color: rgba(43, 122, 120, 1);
  color: white;
}

.separator {
  width: 100%;
  border-bottom: 1px solid rgba(222, 241, 242, 1);
  margin-top: 1rem;
}

#carousel_container {
  width: 100%;
  cursor: default;
}
