body {
  font-size: 16px; /* Setting base font size for rem as it is more scalable than px */
  font-family: "Poppins", sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  margin-top: 6.5rem;
  margin-bottom: 6.5rem;
  width: 100%;
  box-sizing: border-box;
}

#left_col {
  background-image: url("../../assets/img_3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem;
  color: white;
  border-radius: 10px;
  min-height: 50rem;
  width: 35%;
}

#right_col {
  width: 65%;
  align-items: center;
}

#login_modal {
  font-family: "Poppins", "sans serif";
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
  padding-top: 10rem;
  max-width: 30rem;
}
